body {
  color: #8c4573;
  background-repeat: no-repeat; 
  background-position: 50% 0;
  background-attachment: fixed;
  background-color: #facc54;
  background-image: url(/images/background-image.jpg);
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Give You Glory', cursive;
  font-weight: 400;
}

p {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
}

a {
	color: #E2AF34
}

a:hover {
	color: #E2AF34
}

.statement {
	text-align: right;
	padding: 0.3%;
}

.statement h1 {
	font-size: 3.7em;
	color: #ffffff;
}

.statement h1 strong {
	color: 	#8c4573;
}

.hp-steps {
	padding: 2%;
}

.hp-steps p {
	font-size: 1.5em;
}

.step-one, .step-two, .step-three, .get-notified {
	background-color: #EBE5ED;
	background-color: rgba(255,255,255,0.4);
	color: #8c4573;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;	
	padding: 2%;
	margin: 2%;
	text-align: right;
	width: 48%;
	float: right;
}

.step-numbers {
	float: left;
	background-color: white;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;	
	width: 40px;
	height: 40px; 
}

.step-numbers h2 {
	text-align: center;
	margin: -0.01px;
	font-size: 3em;
	
}

.phone {
	text-align: right;
}

.get-notified {
	background-color: #EBE5ED;
	margin-top: 5%;
	width: 57%;
}

.btn {
  background-color: #EBE5ED;
  border-color: #EBE5ED;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #8c4573;
}

#footer {
	background-color: #ffffff;
	margin-top: 2%;
}

.footer-sm {
	text-align: right;
	padding-right: 5%;
}

.footer-logo {
	margin-top: 1%;
}